<div class="home-container">
    <h2 class="page-title">Search Employees</h2>
    <div class="button-container">
        <a routerLink="/search/all">All Employees</a>
        <a routerLink="/search/designation">By Designation</a>
        <a routerLink="/search/age">By Age</a>
        <a routerLink="/search/age-range">By Age Range</a>
        <a routerLink="/search/salary-range">By Salary Range</a>
        <a routerLink="/search/reporting-to">By Reporting To</a>
        <a routerLink="/search/date-of-joining">By Date of Joining</a>
        <a routerLink="/search/date-of-joining-range">By Date of Joining Range</a>
    </div>
    <a routerLink="/" class="close-button">Close</a>
</div>

